---
export interface Props {
  className?: string
}

const { className = 'w-6 h-6' } = Astro.props
---

<div class={`relative ${className}`}>
  <img src="/images/dexbee-logo.png" alt="HanaDB - Bee on Cherry Blossom" class="w-full h-full object-contain drop-shadow-sm" />
</div>
